In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("C:\\Users\\dell\\Downloads\\comments.csv")
df.head()

,text,author,controversiality,parent_text,parent_score,parent_votes,parent_author,parent_controversiality,Score
0,i must be retarded i thought it meant con lawl...,['calantus'],0,"It's quite unfair to call Hillary Clinton a ""c...",245,245,Whisper,0,-8
1,DOWNMODDED FOR IRRELEVANCE? ISN'T THAT HOW THI...,['Shadowrose'],0,upmodded for awesome kindness,32,32,b3mus3d,0,-16
2,"THAT WAS SUPPOSED TO MEAN "" BY A PLACE WHERE P...",['NExusRush'],0,"What the hell does ""because its by a golf cour...",12,12,mr_jellyneck,0,-7
3,I THOUGHT EVERYONE DID; ITS FUCKING DELICIOUS :\,['R0N_SWANS0N'],0,NICE TRY JENNIFER! I KNOW IT'S YOU AND I KNOW...,117,117,ometzo,0,67
4,"Great work, Zhesbe! I'd give you a raise but y...",['reddums'],0,"""HEY BOSS COME LOOK AT WHAT I DID!""",1933,1933,Zhesbe,0,1348

In [3]:
df.shape

(4999, 9)

In [4]:
df.describe()

,controversiality,parent_score,parent_votes,parent_controversiality,Score
count,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000
mean,0.000600,216.714943,216.714943,0.001200,89.810962
std,0.024492,449.422467,449.422467,0.034627,200.739917
min,0.000000,-8907.000000,-8907.000000,0.000000,-1658.000000
25%,0.000000,13.000000,13.000000,0.000000,-10.000000
50%,0.000000,67.000000,67.000000,0.000000,66.000000
75%,0.000000,229.000000,229.000000,0.000000,115.500000
max,1.000000,5619.000000,5619.000000,1.000000,3133.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   text                     4999 non-null   object
 1   author                   4999 non-null   object
 2   controversiality         4999 non-null   int64
 3   parent_text              4999 non-null   object
 4   parent_score             4999 non-null   int64
 5   parent_votes             4999 non-null   int64
 6   parent_author            4999 non-null   object
 7   parent_controversiality  4999 non-null   int64
 8   Score                    4999 non-null   int64
dtypes: int64(5), object(4)
memory usage: 351.6+ KB

In [6]:
df = df.drop(["author","controversiality","parent_text","parent_score","parent_votes","parent_author","parent_controversiality"],axis=1)
df.head()

                                                text  Score
0  i must be retarded i thought it meant con lawl...     -8
1  DOWNMODDED FOR IRRELEVANCE? ISN'T THAT HOW THI...    -16
2  THAT WAS SUPPOSED TO MEAN " BY A PLACE WHERE P...     -7
3   I THOUGHT EVERYONE DID; ITS FUCKING DELICIOUS :\     67
4  Great work, Zhesbe! I'd give you a raise but y...   1348

In [7]:
df.isnull().sum()

text     0
Score    0
dtype: int64

In [8]:
df["text"]

0       i must be retarded i thought it meant con lawl...
1       DOWNMODDED FOR IRRELEVANCE? ISN'T THAT HOW THI...
2       THAT WAS SUPPOSED TO MEAN " BY A PLACE WHERE P...
3        I THOUGHT EVERYONE DID; ITS FUCKING DELICIOUS :\
4       Great work, Zhesbe! I'd give you a raise but y...
                              ...
4994    Dying words of my father: "Son, one day a man ...
4995    CATERING TO EVERYONE AND THEIR IMPOSSIBLE SIMU...
4996                            RABBLERABBLERABBLERABBLE!
4997    LITTLE KNOWN FACT, "VIOLA" IS NOT ONLY A FRENC...
4998    I don't think it is, but to each their own! It...
Name: text, Length: 4999, dtype: object

In [9]:
df["text"] = df["text"].str.lower()
df["text"]

0       i must be retarded i thought it meant con lawl...
1       downmodded for irrelevance? isn't that how thi...
2       that was supposed to mean " by a place where p...
3        i thought everyone did; its fucking delicious :\
4       great work, zhesbe! i'd give you a raise but y...
                              ...
4994    dying words of my father: "son, one day a man ...
4995    catering to everyone and their impossible simu...
4996                            rabblerabblerabblerabble!
4997    little known fact, "viola" is not only a frenc...
4998    i don't think it is, but to each their own! it...
Name: text, Length: 4999, dtype: object

In [10]:
import string
punc = string.punctuation
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [11]:
def remove_punc(x):
    translator = str.maketrans(" "," ",punc)
    return x.translate(translator)

df["text"] = df["text"].apply(lambda x:remove_punc(x))
df["text"]

0       i must be retarded i thought it meant con lawl...
1       downmodded for irrelevance isnt that how this ...
2       that was supposed to mean  by a place where pe...
3           i thought everyone did its fucking delicious
4       great work zhesbe id give you a raise but you ...
                              ...
4994    dying words of my father son one day a man wil...
4995    catering to everyone and their impossible simu...
4996                             rabblerabblerabblerabble
4997    little known fact viola is not only a french w...
4998    i dont think it is but to each their own it ju...
Name: text, Length: 4999, dtype: object

In [12]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [13]:
def remove_stopwords(text):
    return ' '.join(word for word in text.split() if word not in stop_words)

df["text"] = df["text"].apply(remove_stopwords)
df["text"].head()

0    must retarded thought meant con lawl oh well work
1                    downmodded irrelevance isnt works
2    supposed mean place people undoubtedly snake b...
3                   thought everyone fucking delicious
4         great work zhesbe id give raise seem handled
Name: text, dtype: object

In [14]:
df.head()

                                                text  Score
0  must retarded thought meant con lawl oh well work     -8
1                  downmodded irrelevance isnt works    -16
2  supposed mean place people undoubtedly snake b...     -7
3                 thought everyone fucking delicious     67
4       great work zhesbe id give raise seem handled   1348

In [15]:
df.tail()

                                                   text  Score
4994  dying words father son one day man approach se...    234
4995  catering everyone impossible simultaneous need...    107
4996                           rabblerabblerabblerabble    193
4997  little known fact viola french word stringed i...     -8
4998                          dont think aint christian     -8

In [16]:
import re

def remove_digits(text):
    return re.sub("[0-9]+"," ",text)

df["text"] = df["text"].apply(remove_digits)
df["text"]

0       must retarded thought meant con lawl oh well work
1                       downmodded irrelevance isnt works
2       supposed mean place people undoubtedly snake b...
3                      thought everyone fucking delicious
4            great work zhesbe id give raise seem handled
                              ...
4994    dying words father son one day man approach se...
4995    catering everyone impossible simultaneous need...
4996                             rabblerabblerabblerabble
4997    little known fact viola french word stringed i...
4998                            dont think aint christian
Name: text, Length: 4999, dtype: object

In [17]:
def remove_url(text):
    return re.sub("((www.[^s]+) | (https?://[^s]+))"," ",text)

df["text"] = df["text"].apply(remove_url)
df["text"]

0       must retarded thought meant con lawl oh well work
1                       downmodded irrelevance isnt works
2       supposed mean place people undoubtedly snake b...
3                      thought everyone fucking delicious
4            great work zhesbe id give raise seem handled
                              ...
4994    dying words father son one day man approach se...
4995    catering everyone impossible simultaneous need...
4996                             rabblerabblerabblerabble
4997    little known fact viola french word stringed i...
4998                            dont think aint christian
Name: text, Length: 4999, dtype: object

In [18]:
df.tail(10)

                                                   text  Score
4989   sick puppy oo called squirting lot guys get shit    -10
4990  im curious sadly ive found many men find tradi...     68
4991                         anyone uptodate death toll   -105
4992  beginning heard nice english man speaking went...    -15
4993                            careful srs doesnt hear     -8
4994  dying words father son one day man approach se...    234
4995  catering everyone impossible simultaneous need...    107
4996                           rabblerabblerabblerabble    193
4997  little known fact viola french word stringed i...     -8
4998                          dont think aint christian     -8

In [19]:
regex = r'\b(\w+)(?:\W+\1\b)+'

def clean_repeat_words(text):
    return re.sub(regex," ",text)

df["text"] = df["text"].apply(clean_repeat_words)
df["text"]

0       must retarded thought meant con lawl oh well work
1                       downmodded irrelevance isnt works
2       supposed mean place people undoubtedly snake b...
3                      thought everyone fucking delicious
4            great work zhesbe id give raise seem handled
                              ...
4994    dying words father son one day man approach se...
4995    catering everyone impossible simultaneous need...
4996                             rabblerabblerabblerabble
4997    little known fact viola french word stringed i...
4998                            dont think aint christian
Name: text, Length: 4999, dtype: object

In [20]:
df.head(25)

                                                 text  Score
0   must retarded thought meant con lawl oh well work     -8
1                   downmodded irrelevance isnt works    -16
2   supposed mean place people undoubtedly snake b...     -7
3                  thought everyone fucking delicious     67
4        great work zhesbe id give raise seem handled   1348
5   well whore like fox hard keep straight reporte...    -17
6                                 strangely downvoted    -22
7   okay pretty shitty day read comment thank oh o...    282
8   could rephrase paragraph long question form ac...    100
9   people also need cars trucks get places necess...     -7
10  thats pretty much exactly said figured perfect...     78
11                           yeah bigotry totally gay     84
12  come op   minutes im dyin edit responded right...    189
13  see people use term quite lot think place redd...    -22
14                     like one takes logical extreme    159
15  course libertarian system would likely allow i...     -7
16  unless wont seeing male fashion advice unless ...    -10
17  first offgood second havent already done start...     -7
18                                       get sandwich     96
19                  came upvote first gay comment saw    -24
20                                      never elected     -9
21    worked provide affordable highquality child ...    452
22                               ones working charity    323
23                        first round loss blackhawks   -131
24                          permastealth champ select     84

In [37]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
ps

In [38]:
def stemming_data(data):
  text = [ps.stem(data) for word in data]
  return data

df["text"] = df["text"].apply(lambda x: stemming_data(x))
df.tail()

                                                   text  Score
4994  dying words father son one day man approach se...    234
4995  catering everyone impossible simultaneous need...    107
4996                           rabblerabblerabblerabble    193
4997  little known fact viola french word stringed i...     -8
4998                          dont think aint christian     -8

In [39]:
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()

def lemmatizer_on_text(data):
    text = [wnl.lemmatize(word) for word in data]
    return data

df['text'] = df['text'].apply(lambda x : lemmatizer_on_text(x))
df.tail()

                                                   text  Score
4994  dying words father son one day man approach se...    234
4995  catering everyone impossible simultaneous need...    107
4996                           rabblerabblerabblerabble    193
4997  little known fact viola french word stringed i...     -8
4998                          dont think aint christian     -8

In [40]:
X = df.drop('Score', axis = 1)
y = df['Score']

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf

TfidfVectorizer()

In [43]:
X_train_tfidf = tfidf.fit_transform(X_train['text'])

In [44]:
X_test_tfidf = tfidf.transform(X_test['text'])

In [45]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr

LogisticRegression()

In [ ]:
lr.fit(X_train_tfidf, y_train)

In [ ]:
y_pred = lr.predict(X_test_tfidf)
y_pred

In [ ]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("RMSE:", rmse)

In [ ]:
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
bnb

In [ ]:
bnb.fit(X_train_tfidf, y_train)

In [ ]:
y_pred_bnb = bnb.predict(X_test_tfidf)
y_pred_bnb

In [ ]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred_bnb))

print("RMSE:", rmse)

In [ ]:
max_pred_index = y_pred.argmax()
comment_with_max_pred = X_test.iloc[max_pred_index]
print("Comment with the highest predicted votes:")
print(comment_with_max_pred)